streamlit==1.37.1
openai==1.42.0
streamlit-chat==0.1.1
ydata-profiling==5.7.1
streamlit-pandas-profiling==0.2.1
pycaret==3.4.0
scikit-learn==1.6.3
seaborn==0.15.2
matplotlib>=3.7,<3.8
xgboost==2.1.1
pandas==2.1.1

